:root{
  --primary_color:#041026;
}

.p_bg{
  background-color: var(--primary_color);
  
}

a{
  text-decoration: none;
}

.p_btn{
  background-color: #041026;
}
.p_bg_opacity{
  background-color: #041026bd;
}
button{
  min-width: 100px;
}